body {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: right;
    margin: 10px;
    width: 910px;

}

table {

    width: 900px;
    padding: 0pt;
    margin: 5pt 0pt;
    
    
}

td {

    padding: 1pt;
}

th {

    font-size: 18pt;

}

.bordas {

    border: 2px solid black;





}